<!doctype html>
<html lang="en" ng-app="LunchCheck">
  <head>
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
      .message { font-size: 1.3em; font-weight: bold; }
      .messageRed { color:red}
      .messageGreen { color:green }
      .textBorderRed {  border: 1px solid red; }
      .textBorderGreen { border: 1px solid green;}
    </style>
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
  </head>
<body>
   <div class="container" ng-controller="LunchCheckController">
     <h1>Lunch Checker</h1>

         <div class="form-group">
             <div class="{{textClass}}"><input ng-model="menu" id="lunch-menu" type="text"
             placeholder="list comma separated dishes you usually have for lunch"
             class="form-control"  ></div>
         </div>
         <div class="form-group">
             <button  ng-click="checkLunch()" class="btn btn-default">Check If Too Much</button>
         </div>
         <div class="form-group message">
           <!-- Your message can go here. -->
            <div class="{{messageClass}}">{{message}}</div>
         </div>
   </div>

</body>
</html>
